@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

/* Navbar styles */

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    background-color: #333;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
}

.navbar-links li {
    list-style-type: none;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
}

.navbar-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.3s;
}

.navbar-link:hover.navbar-link::after {
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 1.5rem auto;
    box-sizing: border-box;
}

.game-header {
    width: 100%;
}

.game-header p {
    margin-left: 1rem;
    display: inline;
    font-size: 1.3rem;
}

#start,
#reset {
    display: inline-block;
    width: 100px;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: .5rem 0;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    width: 60%;
    margin-top: 1rem;
    margin-right: .5rem;
}

/* Game options styles */

.game-options {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
    width: 60%;
}

.game-option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#flip-cards {
    height: 0;
    width: 0;
    visibility: hidden;
}

#flip-cards-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background-color: grey;
    display: inline-block;
    border-radius: 25px;
    position: relative;
}

#flip-cards-label::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    top: calc((25px - 20px) / 2) ;
    left: 4px;
    transition: 0.3s;
}

#flip-cards:checked+#flip-cards-label {
    background-color: #0077e6;
}

#flip-cards:checked+#flip-cards-label::after {
    left: 25px;
}

#start-turn {
    height: 0;
    width: 0;
    visibility: hidden;
}

#start-turn-label {
    text-indent: -9999px;
    cursor: pointer;
    height: 10px;
    width: 35px;
    box-sizing: border-box;
    padding: 2px 0px;
    margin: .5rem;
}

#start-turn-label::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: relative;
    top: calc((2px - 3px) / 2);
    background-color: #333;
}

#start-turn-label::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    top: -10px;
    left: 0;
    transition: 0.3s;
}

#start-turn:checked+#start-turn-label::after {
    left: 25px;
}

/* Card styles */

.card {
    width: 23%;
    height: 150px;
    border-radius: 20px;
    background-color: #000;
    position: relative;
    transition: transform ease 0.5s;
    transform-style: preserve-3d;
    color: white;
    cursor: pointer;
}

.card-img {
    width: 60%;
}

.card-front {
    background-color: #333;
    border-radius: 20px;
}

.card-front,
.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-color: inherit;
    border-radius: 20px;
}

.card-front {
    transform: rotateY(180deg);
}

.flipped,
.matched {
    transform: rotateY(180deg);
}

.matched {
    pointer-events: none;
}

.matches {
    font-size: 2rem;
}

.pairs {
    font-size: 1.5rem;
}

.scores {
    position: absolute;
    top: 50px;
    right: 0;
    margin-right: 10%;
    width: 29%;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 225px;
    margin: 1rem 0;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #000;
    color: red;
    font-family: 'Cursed Timer Ulil';
    font-weight: 400;
    text-align: center;
}

.scoreboard-time {
    font-size: 3rem;
}

.scoreboard-text {
    display: inline-block;
}

.scoreboard-text.pair {
    font-size: 1.5rem;
}

.scoreboard-title {
    width: 100%;
    display: block;
}

.game-log {
    height: 100%;
    display: inline;
    resize: none;
    width: 35%;
    margin: 9rem 0 0 2rem;
}

.game-log textarea {
    height: 450px;
    width: 100%;
    resize: none;
    line-height: 1.5rem;
}

@media (max-width: 1023px) {
    .container {
        margin-top: .5rem;
        width: 95%;
    }

    .game-options {
        width: 100%;
    }

    .game-container {
        width: 100%;
        margin: 0;
    }

    .card {
        width: 23%;
        height: 100px;
    }

    .card-img {
        width: 100%;
    }

    .scores {
        position: static;
        margin: 0 auto;
        width: 100%;
    }

    .game-log {
        margin: 1rem 0;
        width: 100%;
    }

    .scoreboard {
        width: 100%;
        height: auto;
        padding: .25rem 0;
    }

    .scoreboart-text.matches {
        font-size: 1.5rem;
    }

    .scoreboard-time {
        font-size: 2rem;
    }

    .matches {
        font-size: 1.5rem;
    }
}